:root {
  --player-color: rgba(26, 29, 26, 0.25);
  --progress-color: rgb(91, 236, 199);
  --progressbar-color: rgba(223, 224, 226, 0.55);
  --text-color: rgb(162, 174, 187);

  --easing: 0.25s;
}
.videoPlayer {
  padding-bottom: 0px;
  /* position: relative; */
  display: inline-flex;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  /* height: 200%; */
  /* width: 200%; */
}
.videoPlayer video {
  max-width: var(--video-player-width);
  /* margin: auto; */
}

.video-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: rgba(26, 29, 26, 0.5);
  display: flex;
  flex-direction: column;
  z-index: 10;
  transform: translateY(0);
  transition: all ease 0.25s;
}

.videoPlayer.show-controls .video-info {
  transform: translateY(0);
  transition: all ease 0.25s;
}

.videoPlayer.hide-controls .video-info {
  transform: translateY(90%);
}

.video-info .progress-bar {
  height: 4px;
  background-color: var(--progressbar-color);
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
  cursor: pointer;
}
.video-info .progress-bar .progress {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
  margin: auto;
  background-color: var(--progress-color);
  transition: all ease var(--easing);
}

.video-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
}
.control-btn {
  height: 40px;
  width: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  color: var(--text-color);
  outline: 0;
}
.time-control {
  display: flex;
  color: var(--text-color);
  font-size: 12px;
}
.time {
  color: var(--text-color);
  width: 64px;
  justify-content: center;
  display: flex;
  align-items: center;
}
.volume-controls {
  color: var(--text-color);
  display: flex;
  align-items: center;
}

.volume-progressbar {
  display: inline-flex;
  width: 100px;
  height: 4px;
  background-color: var(--progressbar-color);
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.volume-progressbar .volume-progress {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 100%;
  width: 50%;
  background-color: var(--progress-color);
  transition: all ease var(--easing);
}
.test {
  width: 1400px;
  height: 800px;
}
body {
  background-color: rgb(0, 0, 0);
  margin: 0;
  padding: 0;
}
.videoPlayer {
  width: 1600px;
  height: 800px;
  margin: 0;
}
